.hero {
  max-height: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5vh;
}

.hero-title {
  font-size: calc(10rem);
  font-family: "Times New Roman"
}

