.front-page {
  margin-top: 52px;
  height: 40vh;
  /*transform: translateY(-32px);*/
}
.front-page > .bg-image {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.front-page > .bg-image > .content > .container > h1 {
  font-size: 10em;
  font-family: "Times New Roman";
}

.home {
  min-height: calc(100vh - 200px - 52px);
}

.body {
  margin-top: 100px;
  margin-bottom: 100px;
}
