.page-footer {
  background: #303030;
  color: white;
  min-height: 100px;
  height: 10vh;
  padding: 2vh 0;
}

.page-footer .secondary {
  color: #bfbfbf;
}

.page-footer .copyright {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.page-footer > .container > .left {
  float: left;
  width: 70%;
}

.page-footer ul li {
  list-style: none;
}

.page-footer ul li a {
  text-decoration: none;
  color: white;
  transition: 125ms;
}

.footer-menu-class > ul > li > a:hover {
  color: #bfbfbf;
}

.page-footer > .container > .right {
  float: right;
}

.page-footer > .container > .right > .credits {
  line-height: 0.8em;
}

.page-footer .container .right .credits li a {
  color: #bfbfbf;
}
